* { /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo-principal { /* LOGO PRINCIPAL */
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 101px;
   
  }
  
  .opciones { /* NAVBAR OPCIONES */
    background-image: linear-gradient(to right, #F38979, #FDE56B, #D466BC);
    width: 100%;
    height: 100px;
    
  }
  .opciones .nav-link { /* OPCIONES NAVBAR */
    
    font-size: 18px;
    color: #510571;
    font-family: 'Open Sans', sans-serif;


  }

  .opciones .nav-link:hover {
    color: #ff0000; /* Cambiar el color de texto al pasar el ratón por encima (por ejemplo, a rojo) */
  }


  .opciones .navbar-nav {
    width: fit-content; /* Ajusta el ancho al contenido */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro (opcional) */
    display: flex;
    gap: 30px;
  }